@use '@angular/material' as mat;
@use './styles/tokens';
@use './styles/base';
@use './styles/utilities';

:root {
  @include mat.theme(
    (
      color: (
        primary: mat.$chartreuse-palette,
        tertiary: mat.$violet-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}
